
/.quarto/
**/*.quarto_ipynb
/para_render.txt
/cronograma.xlsx
/frequencia_genese.xlsx
/trabalhos_intemperismo/
/quiz/
/Gênese e classificação do solo - 2026.docx
/Gênese e classificação do solo - 2026.pdf
/avaliacao_nivelamento.qmd
/aula_3/
/aula_5/
